<ion-header>
  <ion-navbar>
    <span>
      <ion-fab right>
        <button ion-button outline><ion-icon name="md-create"></ion-icon></button>
      </ion-fab>

      <h2>Plan My Plan</h2>
      <p>List of my plans</p>

      <span>--------------- 50%</span>
    </span>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">

    <ion-item>
        <button ion-button outline (click)="getLeftDay()"><ion-icon name="ios-arrow-back"></ion-icon></button>

        <span>{{showDate()}}</span>

        <button ion-button outline (click)="getRightDay()"><ion-icon name="ios-arrow-forward"></ion-icon></button>
    </ion-item>

    <ion-list>
      <ion-list-header>
        Active Ones
      </ion-list-header>

        <ion-item *ngFor="let activeItem of activePlanItems">
            <ion-label>{{activeItem.name}}</ion-label>
            <ion-toggle></ion-toggle>
        </ion-item>

    </ion-list>

    <ion-list>
      <ion-list-header>
        Inactive Ones
      </ion-list-header>
        <ion-item *ngFor="let inactiveItem of inactiveItems">
            <span>{{inactiveItem.name}}</span>
        </ion-item>
    </ion-list>

    <ion-fab bottom right>
      <button ion-fab mini (click)="createNewItem()"><ion-icon name="ios-add"></ion-icon></button>
    </ion-fab>
</ion-content>