<ion-content padding>
  
  <ion-grid>

    <ion-row *ngFor="let plans of columnedPlans;">

      <ion-col text-center *ngFor="let plan of plans;">
        <ion-item *ngIf="plan" (press)="enterDeleteMode()">
          <ion-icon *ngIf="isDeleteMode && plan.planId > 0" name="ios-close-circle-outline" (click)="confirmForDelete(plan.planId)"></ion-icon>
          <button ion-button block outline class="plan-button" [ngClass]="plan.colour" (click)="goToPlan(plan.planId)">
            <span class="title">{{plan.title}}</span>
            <br>
            <span class="items">{{j}}</span>
          </button>
        </ion-item>
      </ion-col>

    </ion-row>

    <button *ngIf="isDeleteMode" ion-button block outline (click)="leaveDeleteMode()">Done</button>
  </ion-grid>

</ion-content>
