<ion-content padding>
  
  <ion-grid>

    <ion-row *ngFor="let plans of columnedPlans; let i = index;">

      <ion-col text-center *ngFor="let plan of plans; let j = index;">
        <ion-item *ngIf="plan">
          <button ion-button block outline class="plan-button" [ngClass]="plan.colour" (click)="goToPlan(plan.planId)">
            <span class="title">{{plan.title}}</span>
            <br>
            <span class="items">{{j}}</span>
          </button>
        </ion-item>
      </ion-col>

    </ion-row>
    
  </ion-grid>

</ion-content>
