.plan-button {
    padding-left: 0px;
    padding-right: 0px;
}

.plan-button .title {
    font-size: 10px;
}

.plan-button .items {
    font-size: 8px;
}

.plan-button.tile-red {
    border-color: red;
    color: red;
}
.plan-button.tile-green{
    border-color: limegreen;
    color: limegreen;
}
.plan-button.tile-orange{
    border-color: orange;
    color: orange;
}
.plan-button.tile-blue{
    border-color: blue;
    color: blue;
} 
.plan-button.tile-purple{
    border-color: mediumpurple;
    color: mediumpurple;
}
.plan-button.tile-brown{
    border-color: sandybrown;
    color: sandybrown;
}
.plan-button.tile-gray{
    border-color: gray;
    color: gray;
} 
.plan-button.tile-cyan{
    border-color: cyan;
    color: cyan;
}
.plan-button.tile-magenta{
    border-color: magenta;
    color: magenta;
}
.plan-button.tile-gold{
    border-color: gold;
    color: gold;
}
.plan-button.tile-yellow{
    border-color: greenyellow;
    color: greenyellow;
}
.plan-button.tile-black{
    border-color: black;
    color: black;
}
.plan-button.tile-red{
    border-color: red;
    color: red;
}