ion-modal {
    @media (min-width: 300px) and (min-height: 500px) {
        ion-backdrop {
            visibility: visible;
            opacity: 0.8 !important;
        }
    }

    .modal-wrapper {
        position: absolute;
        overflow: hidden;
        max-width: 280px;
        border-radius: 2px;
        width: 80vw;
        height: 50vh;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border: 0;
        box-shadow: 0 16px 20px rgba(0,0,0,.4);
        background-color: #fafafa;
    }
}

.item-inactive {
    color: red;
    border-color: red;
}

.item-active {
    color: green;
    border-color: green;
}

.myClass {
    background: #488aff;
    color: white;
}